<p><strong>Enunciado:</strong></p>

<p>Se deben hacer dos p&aacute;ginas con URL distintas /directors y /director</p>

<p>La p&aacute;gina de directores tiene que tener una grilla con los datos de los directoresque&nbsp;</p>

<p>est&aacute;n</p>

<p>Mostrar en cada columna un dato.</p>

<p>La fecha de nacimiento viene dada con un timestamp. Convertirla al formato&nbsp;</p>

<p>d&iacute;a/mes/fecha</p>

<p>Al hacer click en cualquier columna, nos tiene que redirigir a la p&aacute;gina&nbsp;</p>

<p>de director donde se ver&aacute; m&aacute;s informaci&oacute;n. Esta p&aacute;gina tiene que sacar la informaci&oacute;n&nbsp;</p>

<p>de director.json (para hacerlo m&aacute;s simple, clickeando en cualquier director cargar&aacute;&nbsp;</p>

<p>siempre los mismos datos).</p>

<p>Adem&aacute;s, esa p&aacute;gina tendr&aacute; un bot&oacute;n volver que nos llevar&aacute; de nuevo a la p&aacute;gina&nbsp;</p>

<p>de directores.</p>

<p><strong>Premisas:</strong></p>

<p>* Utilizar los estilos como se quieran. Sentirse libre totalmente en ese sentido.</p>

<p>* Tiene que ser una aplicaci&oacute;n AngularJS.</p>

<p>* Si bien es algo peque&ntilde;o, imaginarlo como una aplicaci&oacute;n de gran escala y utilizar *&nbsp;</p>

<p>todas las buenas pr&aacute;cticas conocidas.</p>